.header{
    display: flex;
    justify-content: space-between;
    margin: 10px ;
    border: 1px solid #000;
}

.nav-item >ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-item >ul >li{
    padding: 10px;
}

.logo {
    width: 100px;
  }

.card{
    width: 200px;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
  }

.card >img{
    width: 100%;
    
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
  }

.search-bar{
    display: flex;
    justify-content: center;
    margin: 10px;
}



.login{
    margin : 10px;
    padding: 10px;

}
     